<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
---- Include the above in your HEAD tag ---------->

<section>
    <div class='insta fade-scroll'>
        <div class='top-insta'>
            <a href='https://goo.gl/Y9YWLo' rel="noopener noreferrer" target='_blank'><img [src]='profilePicturePath' alt="image profile here"></a>
            <a href='https://www.google.com' rel="noopener noreferrer" target='_blank' class='user'>{{this.fullName}}</a>
            <span class='dot'></span>
        </div>
        <div class='post' width="100" height="100">
            <div class="overlay" (click)="incNumLikes()">
                <span></span>
            </div>
            <img [src]='uploadedFileUrl' alt="image profile here">
            <!--<img [src]='https://source.unsplash.com/featured/?smile, people' alt="image profile here">-->
        </div>
        <div class='footer'>
            <div class='react'>
                <a role='button' (click)="incNumLikes()"><span class='love'></span></a>
                <a>{{this.numLikes}}</a>
                <a role='button'><span class='comment'></span></a>
                <a>{{this.numComm}}</a>
                <a role='button'><span class='save'></span></a>
            </div>
            <div class='caption'>
                <a>{{this.fullName}}</a><span>Descripción de la imagen</span>
            </div>
            <div class='caption' *ngFor="let comment of this.commentPost">
                <a>{{comment["author"]}}</a><span>{{comment["comment"]}}</span>
            </div>
            <div class='comment-section'>
                <form class="user" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <input type='text' id='comment' name="comment" class="form-control" placeholder='Add a comment...' ngModel>
                    </div>
                    <div class="form-group">
                        <button type="submit" class='dot02'></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end Footer -->
    </div>
</section>
<!-- end section -->