/* You can add styles to this file, and also import other style files */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "https://fonts.googleapis.com/css?family=Roboto:300,500,700";
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-top: 5rem;
  box-sizing: border-box;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background: #ecf0f1;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

/*Dropdown del perfil*/

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.nav__notification {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.nav__notification__icon {
  cursor: default;
  position: absolute;
  background: #ecf0f1;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  animation: bounce 3s cubic-bezier(0.3, 0, 0.7, 1) infinite 2s;
}
.nav__notification__icon:before {
  content: "";
  border: 3px solid rgba(236, 240, 241, 0.3);
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  background: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: bounceScale 3s cubic-bezier(0.3, 0, 0.7, 1) infinite 2s;
}
@keyframes bounceScale {
  0%,
  20% {
    opacity: 0;
    border-width: 3px;
  }
  10% {
    opacity: 1;
  }
  20%,
  100% {
    transform: scale(2);
    border-width: 1px;
    opacity: 0;
  }
}
@keyframes bounce {
  0%,
  20% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.15);
  }
}
.nav__notification__num {
  position: absolute;
  user-select: none;
  cursor: default;
  font-size: 0.6rem;
  background: #e74c3c;
  width: 1.2rem;
  height: 1.2rem;
  color: #ecf0f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -0.4rem;
  right: -0.4rem;
  box-sizing: border-box;
}
.nav__notification_bar {
  contain: layout;
  position: absolute;
  top: 2em;
  right: 0;
  width: 35vw;
  background: #ecf0f1;
  transform: translate(1rem, 0.5rem);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.nav__notification_bar:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transform: translate(-1rem, -100%);
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.7rem solid #ecf0f1;
}
@media only screen and (max-width: 720px) {
  .nav__notification_bar {
    width: calc(70vw - 2em);
  }
}
.nav__notification_bar h3 {
  user-select: none;
  cursor: default;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #7f8c8d;
  letter-spacing: 0.1rem;
}
.nav__notifications__list {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav__notifications__list__item {
  contain: strict;
  background: none;
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.3, 0, 0.7, 1);
}
.nav__notifications__list__item:hover {
  opacity: 1;
}
.nav__notifications__list__item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.nav__notifications__list__item.nav__notifications__list__item--new {
  background: #e2e8e9;
  opacity: 1;
}
.nav__notifications__list__item__photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateZ(0);
  position: relative;
}
.nav__notifications__list__item__display {
  width: 3rem;
  height: 3rem;
}
.nav__notifications__list__item__desc {
  height: 100%;
  flex: 1;
  padding: 0 1rem;
  padding-right: 0;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  font-size: 0.7rem;
  color: rgba(149, 165, 166, 0.8);
}
.nav__notifications__list__item__desc em {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  color: #7f8c8d;
}
.modalBody {
  padding: 10%;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
