<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
  <title>LPH</title>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    type="text/css"
    rel="stylesheet"
  />
</head>
<header class="clearfix feed-header" data-role="banner">
  <div id="datos" class="profile-user">
    <div class="row-fluid">
      <div class="span6">
        <div id="profilepicture" class="pull-left" style="margin-right: 15px; float: left;">
          <img
            [src]="profilePicturePath"
            class="img-polaroid"
            width="250"
            height="250"
            alt="profile photo"
          />
        </div>
      </div>
      <div id="listaDatos" style="display: inline-block;">
        <div>
          <h2>{{ fullName }}</h2>
        </div>

        <ul class="inline user-counts-list" id="listaDatos" style="list-style: none;">
          <li>
            <strong>Publicaciones: </strong> <span class="count"> {{ postsNumber }} </span>
          </li>
          <li>
            <a href="javascript:void(0)" class="count" (click)="openFollowers(mymodal)">
              Seguidores: {{ followers }}
            </a>
          </li>
          <li>
            <a class="count" href="javascript:void(0)" (click)="openFollowing(mymodal)">
              Siguiendo: {{ following }}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="route === '/myprofile'; then miperfil; else friendsProfile"></div>
    </div>
  </div>
</header>

<ng-template #miperfil>
  <button class="boton_personalizado" style="float: right;" type="button" (click)="editProfile()">
    Editar perfil
  </button>
</ng-template>

<ng-template #friendsProfile>
  <button
    class="boton_personalizado"
    style="float: right;"
    type="button"
    (click)="openModalMessage(sendMessageModal)"
  >
    Enviar mensaje
  </button>
  <button
    class="boton_personalizado"
    style="float: right;"
    type="button"
    (click)="startToFollowUnfollow()"
  >
    {{ followUnfollowBtn }}
  </button>
</ng-template>

<div class="feed-photos">
  <div class="row-fluid">
    <div class="span12">
      <ul style="list-style: none; display: inline-block;" *ngFor="let post of posts">
        <li style="list-style: none;">
          <a href="javascript:void(0)" class="thumbnail" (click)="openModalPost(postBlock, post)">
            <img src="{{ post }}" width="250" height="250" alt="post" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="modalTitle === 'Seguidores'; then listFollowers; else listFollowing"></div>
  </div>
</ng-template>

<ng-template #listFollowers>
  <ul *ngFor="let follower of followersList">
    <li style="list-style: none;">
      <div>
        <img
          src="{{ follower.photoUrl }}"
          alt="{{ follower.name }} profile photo"
          width="50"
          height="50"
        />
        <a
          class="friedName"
          routerLink="user/{{ follower.id }}"
          (click)="goToFriendsProfile(follower.id)"
          >{{ follower.name }}</a
        >
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #listFollowing>
  <ul *ngFor="let following of followingList">
    <li style="list-style: none;">
      <div>
        <img
          src="{{ following.photoUrl }}"
          alt="{{ following.name }} profile photo"
          width="50"
          height="50"
        />
        <a
          class="friedName"
          routerLink="user/{{ following.id }}"
          (click)="goToFriendsProfile(following.id)"
          >{{ following.name }}</a
        >

        <button
          *ngIf="route === '/myprofile'"
          type="button"
          class="btnUnfollow"
          (click)="unfollowFromModal(following.id)"
        >
          Dejar de seguir
        </button>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #sendMessageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enviar mensaje directo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input_msg_write">
      <form class="user" (ngSubmit)="sendMessage(f)" #f="ngForm">
        <textarea
          name="msg"
          id="msg"
          type="text"
          #message
          ngModel
          class="write_msg"
          placeholder="Escribir mensaje"
        >
        </textarea>
        <button class="msg_send_btn" type="submit" title="Enviar">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #postBlock>
  <section>
    <div class="insta">
      <div class="top-insta">
        <a rel="noopener noreferrer" target="_blank"
          ><img [src]="profilePicturePath" alt="image profile here"
        /></a>
        <a rel="noopener noreferrer" target="_blank" class="user">{{ this.fullName }}</a>
        <span class="dot"></span>
      </div>
      <div class="post" width="100" height="100">
        <div class="overlay">
          <span></span>
        </div>
        <img src="{{ selectedPhoto }}" width="480" height="600" alt="image profile here" />
        <!--<img [src]='https://source.unsplash.com/featured/?smile, people' alt="image profile here">-->
      </div>
      <div class="footer">
        <div class="caption">
          <a>{{ this.fullName }}</a
          ><span>{{ postDescription }}</span>
        </div>
        <div class="react">
          <a role="button"><span class="love"></span></a>
          <a>{{ postNumLikes }}</a>
          <a role="button"><span class="comment"></span></a>
          <a>{{ postNumComments }}</a>
        </div>

        <div class="caption" *ngFor="let comment of this.postComments">
          <a>{{ comment["author"] }}</a
          ><span>{{ comment["comment"] }}</span>
        </div>
      </div>
      <div class="comment-section">
        <form class="user" #f="ngForm">
          <div class="form-group">
            <textarea
              type="text"
              id="comment"
              name="comment"
              class="form-control"
              placeholder="Escribe un comentario"
              ngModel
              style="margin-left: 1%; width: 95%;"
            >
            </textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="dot02"></button>
          </div>
        </form>
      </div>
      <!-- end Footer -->
    </div>
    <!-- end Insta -->
  </section>
</ng-template>
