<link
  href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-3.4.0.min.js"></script>

<div class="row h-100 justify-content-center align-items-center">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form class="user" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div>
        <h2>Iniciar sesión</h2>
        <hr class="colorgraph" />
        <div class="row"></div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            class="form-control input-lg"
            placeholder="Correo electrónico"
            tabindex="4"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control input-lg"
            placeholder="Contraseña"
            tabindex="4"
            ngModel
            required
          />
        </div>

        <hr class="colorgraph" />
        <div>
          <div class="row h-100 justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
              Iniciar sesión
            </button>
          </div>
        </div>
        <div class="form-group">
          <a class="float-md-left" href="/resetPassword" id="olvidado"
            ><small>Recuperar contraseña</small></a
          >
          <a class="float-md-right" href="/register" id="register"><small>Registrese!</small></a>
        </div>
      </div>
    </form>
  </div>
</div>
