<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Créditos: https://bootsnipp.com/snippets/1ea0N -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LPH</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recientes</h4>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="chat_list actmessagesArrayive_chat">
                <div *ngFor="let p of previews">
                  <div class="chat_list">
                    <div class="chat_people">
                      <div class="chat_img">
                        <img src="{{ p.photo }}" alt="Foto de perfil" />
                      </div>
                      <div class="chat_ib">
                        <h5>
                          <a href="javascript:void(0)" (click)="openChat(p.idChat)">{{ p.name }}</a>
                          <span class="chat_date">{{ p.date }}</span>
                        </h5>
                        <p>
                          {{ p.lastMessage }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedChat !== ''">
            <div class="mesgs">
              <div class="msg_history">
                <div *ngFor="let m of messagesArray">
                  <div *ngIf="selectedChat !== ''">
                    <ng-container
                      [ngTemplateOutlet]="m.sender == userData ? outgoing_msg : incoming_msg"
                      [ngTemplateOutletContext]="{mensaje: m}"
                    >
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <form class="user" (ngSubmit)="sendNewMessage(f)" #f="ngForm">
                    <input
                      name="msg"
                      id="msg"
                      type="text"
                      #message
                      ngModel
                      class="write_msg"
                      placeholder="Escribir mensaje"
                    />
                    <button class="msg_send_btn" type="submit" title="Enviar">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<ng-template #outgoing_msg let-mensaje="mensaje">
  <div class="outgoing_msg">
    <div class="sent_msg">
      <p>{{ mensaje.message }}</p>
      <span class="time_date"> {{ mensaje.datetime }}</span>
    </div>
  </div>
</ng-template>

<ng-template #incoming_msg let-mensaje="mensaje">
  <div class="incoming_msg">
    <div class="received_msg">
      <div class="received_withd_msg">
        <p>{{ mensaje.message }}</p>
        <span class="time_date">{{ mensaje.datetime }}</span>
      </div>
    </div>
  </div>
</ng-template>
